body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	margin-bottom: 40px;
}

h3 {
	text-align: left;
}

a {
	color: #00B7FF;
}

p {
	margin: 20px;
}

#mic {
	cursor: pointer;
	border-radius: 30%;
}

#mic.recording {
    background: red;
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,#fff 75%,#fff 100%,#7db9e8 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,#fff 75%,#fff 100%,#7db9e8 100%);
    background: radial-gradient(center, ellipse cover, #ff0000 0%,#fff 75%,#fff 100%,#7db9e8 100%);
}

#micHolder {
	margin: auto;
	text-align: center;
}

#output {
	text-align: center;
}